.contacts {
    height: 100vh;
    display: flex;
    padding-inline: calc(var(--container-padding-x) * 1.8);
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__branch {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__subtitle {
        font-size: 30px;
        line-height: 133%;
    }
}