.footer {
    background-color: var(--color-brown);

    &__inner {
        display: flex;
        justify-content: space-around;
        column-gap: 40px;
    }

    &__hero {
        display: flex;
        column-gap: 40px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &-title {
            font-weight: 600;
            font-size: 50px;
            color: var(--color-white);
        }

        &-subtitle {
            font-family: var(--font-futura-newBook);
            color: var(--color-white);
            line-height: 100%;
        }
    }

    &__menu {
        display: flex;
        column-gap: 30px;
        font-family: var(--font-futura-newBook);
        color: var(--color-white);
        font-size: 18px;

        &-list {
            --gridColumns: 2;
            row-gap: 0px;
        }
    }
}