.help {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;

    &__title {
        font-family: var(--font-schoolBook);
        font-weight: 700;
        font-size: 144px;
        line-height: 76%;
        color: var(--color-brown);
    }

    &__description {
        display: flex;
        position: relative;

        &-image {
        position: absolute;
        right: 45px;
    top: 155px;
        }
    }

    &__subtitle {
        font-family: var(--font-futura-newBook);
        font-weight: 400;
        font-size: 80px;
        line-height: 137%;
    }
}