.motive {
    

    &__title {
        font-size: 28px;
    }

    &__description {
        display: flex;
        column-gap: 30px;
        align-items: center;
        padding-left: 20px;
    }

    &__subtitle {
        font-family: var(--font-futura-newBook);
        color: var(--color-brown);
        font-size: 15px;
    }
}