// @font-face {
//     font-family: 'Futura NewDemi';
//     src: url('../fonts/FuturaNewBook-Reg.woff2') format('woff2');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Futura NewMedium';
//     src: url('../fonts/FuturaNewMedium-Obl.woff2') format('woff2');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Futura NewDemi';
    src: url('../fonts/FuturaNewDemi-Obl.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura NewMedium';
    src: url('../fonts/FuturaNewMedium-Obl.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura NewBold';
    src: url('../fonts/FuturaNewBold-Reg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura NewBook';
    src: url('../fonts/FuturaNewBook-Reg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SchoolBook Cyrillic';
    src: url('../fonts/SchoolBookCyrillic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
